body{
    overflow-x: hidden;
    padding: 0;
}
.control_section{
    scroll-margin-top: 100px; /* altura do header fixo */
    min-height: 90vh;
    // margin-bottom: 100px;
    margin-bottom: 4rem;
    // background-color: red !important;
}
