@import "../../assets/css/_variables.scss";

.background {
  // background-color: $color-primary-dark;
  padding-top: 50px;
  background-image: linear-gradient(to bottom, darken($color-primary-dark, 10%), lighten($color-primary-dark, 10%));
  color: $color-contrast-light !important;
  // margin-top: 100px;
  // padding-top: 50px;
  @media screen and (max-width: 720px) {
    padding-top: 20px;
    // background-color: red;
  }
}

.title {
  font-weight: 700;
  font-size: 2.5rem;
  color: $color-contrast-light;
  font-family: $font-primary;
  margin-bottom: 1rem;
}

.subtitle {
  font-weight: 500;
  font-size: 1.2rem;
  text-align: center;
  line-height: 2.5rem;
  margin-bottom: 1rem;
  color: darken($color-contrast-light, 10%);
  font-family: $font-secondary;
}

.paragraph {
  margin-bottom: 2rem;
  color: $color-contrast-light;
  font-size: $font-size-paragraph;
  font-family: $font-text;
  line-height: 1.5;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
  border-radius: 0.5rem 0 0 0.5rem; /* arredonda só o lado esquerdo */
}

.button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 24px;
  margin-left: 50px;

  // Estilos visuais
  color: #fff;
  font-weight: $font-weight-semibold;
  font-size: 1.2rem;
  text-decoration: none !important;
  cursor: pointer;
  border: none;
  border-radius: 6px;
  background-image: linear-gradient(to right, $color-gold, darken($color-gold, 10%));
  overflow: hidden;
  z-index: 1;
  max-width: 320px;
  height: 50px;

  // Transições e efeitos
  transition: all 0.3s ease;

  // Sombra e fundo ao hover
  &:hover {
    box-shadow:
      0 6px 12px rgba(0, 0, 0, 0.12),
      0 2px 4px rgba(0, 0, 0, 0.05);
  }

  // Efeito de camada ao passar o mouse
  &::after {
    content: "";
    background-color: rgba(255, 0, 0, 0.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    opacity: 0;
    transition: opacity 0.3s ease;
  }

  &:hover::after {
    opacity: 1;
  }

  // Foco acessível
  &:focus {
    outline: 2px solid lighten($color-primary-dark, 20%);
    outline-offset: 2px;
  }
}
